In [1]:
import pandas as pd
import matplotlib.pyplot as plt

print("Libraries Loaded ‚úÖ")

Libraries Loaded ‚úÖ

In [2]:
# Expense columns: ID, User, Title, Description, Amount, Category, Date

# Empty DataFrame setup
columns = ["ID", "User", "Title", "Description", "Amount", "Category", "Date"]
expenses_df = pd.DataFrame(columns=columns)

expenses_df.to_csv("expenses.csv", index=False)
print("Expense CSV Initialized ‚úÖ")

Expense CSV Initialized ‚úÖ

In [3]:
from datetime import datetime

def add_expense(user, title, description, amount, category, date):
    df = pd.read_csv("expenses.csv")
    new_id = len(df) + 1
    new_expense = {
        "ID": new_id,
        "User": user,
        "Title": title,
        "Description": description,
        "Amount": amount,
        "Category": category,
        "Date": date
    }
    df = pd.concat([df, pd.DataFrame([new_expense])], ignore_index=True)
    df.to_csv("expenses.csv", index=False)
    print(f"‚úÖ Expense '{title}' added successfully!")

# Example Call:
add_expense("Vishal", "Groceries", "Milk and bread", 150, "Food", "2025-07-10")

‚úÖ Expense 'Groceries' added successfully!

In [4]:
def view_expenses():
    df = pd.read_csv("expenses.csv")
    display(df)

# Example Call:
view_expenses()

   ID    User      Title     Description  Amount Category        Date
0   1  Vishal  Groceries  Milk and bread     150     Food  2025-07-10

In [7]:
def update_expense(expense_id, field, new_value):
    df = pd.read_csv("expenses.csv")
    if expense_id in df["ID"].values:
        df.loc[df["ID"] == expense_id, field] = new_value
        df.to_csv("expenses.csv", index=False)
        print(f"‚úÖ Expense ID {expense_id} updated successfully!")
    else:
        print(f"‚ùå Expense ID {expense_id} not found.")

# Example Call:
# update_expense(1, "Amount", 200)

In [8]:
def delete_expense(expense_id):
    df = pd.read_csv("expenses.csv")
    if expense_id in df["ID"].values:
        df = df[df["ID"] != expense_id]
        # IDs ko reset karna for consistency
        df.reset_index(drop=True, inplace=True)
        df["ID"] = range(1, len(df) + 1)
        df.to_csv("expenses.csv", index=False)
        print(f"‚úÖ Expense ID {expense_id} deleted successfully!")
    else:
        print(f"‚ùå Expense ID {expense_id} not found.")

# Example Call:
# delete_expense(1)

In [9]:
def category_wise_report():
    df = pd.read_csv("expenses.csv")
    report = df.groupby("Category")["Amount"].sum().sort_values(ascending=False)
    print("üìä Category-wise Expense Report:")
    print(report)

def monthly_report():
    df = pd.read_csv("expenses.csv")
    df["Date"] = pd.to_datetime(df["Date"])
    df["Month"] = df["Date"].dt.to_period("M")
    report = df.groupby("Month")["Amount"].sum().sort_index()
    print("üìä Monthly Expense Report:")
    print(report)

# Example Calls:
# category_wise_report()
# monthly_report()

In [11]:
def plot_category_pie_chart():
    df = pd.read_csv("expenses.csv")
    category_data = df.groupby("Category")["Amount"].sum()
    plt.figure(figsize=(6,6))
    category_data.plot.pie(autopct='%1.1f%%')
    plt.title("Category-wise Expense Distribution")
    plt.ylabel("")
    plt.show()

def plot_monthly_bar_chart():
    df = pd.read_csv("expenses.csv")
    df["Date"] = pd.to_datetime(df["Date"])
    df["Month"] = df["Date"].dt.to_period("M")
    month_data = df.groupby("Month")["Amount"].sum()
    plt.figure(figsize=(8,5))
    month_data.plot(kind="bar")
    plt.title("Monthly Expenses")
    plt.ylabel("Amount")
    plt.xlabel("Month")
    plt.show()

# Example Calls:
# plot_category_pie_chart()
# plot_monthly_bar_chart()